<app-header backButton="/auth" title="Resetear Clave"></app-header>
<ion-content [fullscreen]="true">
  <div class="d-flex-center">
    <form
      [formGroup]="group"
      class="auth-form"
      (ngSubmit)="submit()"
      (keypress.enter)="submit()"
    >
      <app-logo></app-logo>
      <!-- Email -->
      <app-custom-input
        autocomplete="email"
        icon="mail-outline"
        [control]="group.controls.email"
        type="email"
        label="Correo"
      ></app-custom-input>
      <!-- Login -->
      <ion-button
        expand="block"
        mode="ios"
        class="submit"
        type="submit"
        [disabled]="group.invalid"
      >
        Enviar Enlace
        <ion-icon slot="end" name="person-add-outline"></ion-icon>
      </ion-button>
    </form>
  </div>
</ion-content>
