<app-header title="Crear Usuario" [isModal]="isModal"></app-header>
<ion-content [fullscreen]="true">
  <div class="d-flex-center">
    <form
      [formGroup]="group"
      class="auth-form"
      (ngSubmit)="submit()"
      (keypress.enter)="submit()"
    >
      <app-logo></app-logo>
      <!-- Name -->
      <app-custom-input
        autocomplete="name"
        icon="person-outline"
        [control]="group.controls.name"
        type="text"
        label="Nombre"
      ></app-custom-input>
      <!-- Email -->
      <app-custom-input
        autocomplete="email"
        icon="mail-outline"
        [control]="group.controls.email"
        type="email"
        label="Correo"
      ></app-custom-input>
      <!-- Password -->
      <app-custom-input
        icon="lock-closed-outline"
        [control]="group.controls.password"
        type="password"
        label="Contraseña"
      ></app-custom-input>
      <!-- Login -->
      <ion-button
        expand="block"
        mode="ios"
        class="submit"
        type="submit"
        [disabled]="group.invalid"
      >
        Registrar
        <ion-icon slot="end" name="person-add-outline"></ion-icon>
      </ion-button>
    </form>
  </div>
</ion-content>
